.postContainer {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.postImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.likes {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.281);
  visibility: hidden;
}

.postContainer:hover .likes {
  visibility: visible;
}
